<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <style>
        .red{
           
            background-color: red;
        }
        .negrito {
            color: green;
        }
        .azul {
            background-color: blue;
        }
        
        .verde {
            background-color: green;
        }
        .div-principal{
 width: 200px;
 height: 200px;
        }
        .div-comum{
 width: 50px;
 height: 50px;
 display: inline-block;
        }
        .borda {
            border: 1px solid;
        }
    </style>
</head>
<body>
   <div id="app">
    <p @mouseover="exibirTextoAjuda = true" @mouseout="exibirTextoAjuda = false">exemplo de tooltip</p>
    <!-- v-show - utiliza a  propriedade display do html -->
    <div v-show="exibirTextoAjuda">
        <h3>Titulo texto ajuda</h3>
        <p> contenfo texto ajuda</p>
    </div>

    <!-- v-if simples --> 
    <!-- toogle -->
    <!-- recebe a negação -->
    <!-- <button @click="exibirSaldo = !exibirSaldo">
               
        <span v-if="!exibirSaldo">Exibir Saldo</span>
        <span v-if="exibirSaldo">Ocultar Saldo</span>
    
    </button>
    <p>Saldo: 
        <span v-if="exibirSaldo">R$ {{saldo}}</span>
       
    </p>
    Idade: <input type="text" id="inputIdade" @blur="setIdade()"> -->
    <!-- v-if e else devem estar no msm escopo do html -->
   <!-- <p v-if="idade < 18">Menor de idade</p>
   <p v-else="idade">Maior de idade</p>

   Nota: <input type="text" id="inputNota" @blur="setNota()">
   <p v-if="nota == ''">Digite a nota do aluno</p>
   <p v-else-if="nota >= 7 && nota <=10">Aluno aprovado</p>
   <p v-else-if="nota >= 5 && nota <=7">Aluno em recuperação</p>
   <p v-else-if="nota >= 0 && nota <=5">Aluno reprovado</p>
   <p v-else>A nota informada é invalida </p> -->

   <!-- v-if, v-else, v-else-if -->

    <!-- <input type="text " id="inputTexto">
    <button @click="selecionarElementoFilho()">Botão</button>

    <select name="" id="opcoes">
        <option value="A">opção 1</option>
        <option value="B">opção 2</option>
        <option value="C">opção 3</option>
       
    </select>
    <p id="paragrafo" style="color: red;">Parágrafo</p>
    <div id="bloco">Conteúdo interno da div</div> -->


    <!-- <a href="https://google.com"
    target="_blank"
    @click.prevent="prevenirComportamentoPadrao($event)"
    >link</a>

    Mensagem {{msg}}
    <br> -->
    <!-- once - vai executa só uma vez -->
    <!-- <button @click.once="executarUmaVez()">Botão</button>
    <p>Cliques: {{ cliques }}</p>
    <hr>
    <form @submit.prevent.once="prevenirUmaVez()">
       <button type="submit">
        Enviar
    </button> 
    </form>
    <p>Formulario: {{formulario}}</p>
    <hr> -->

    <!-- @keyup.x - Vai executar só uma determinada tecla (ex: x) -->
    <!-- @keyup.Shift.Enter - só se aperta duas teclas de uma vez  -->
    <!-- <input type="text"  @keyup.Shift.Enter="capturandoTeclas($event)">
    <p>Teclas: {{teclas}}</p> -->

        
    

    <!-- <div class="borda div-principal" :class="cor">
      Cor:  {{cor}}
      <br>
      Posição X do mouse: {{posicaoX}}
      Posição Y do mouse: {{posicaoY}}
    </div>
    <hr>
    <div @click="mudarCor('verde')" class="borda div-comum"></div>
    <div class="borda div-comum" @mouseover="mudarCor('azul') "  @mouseout="mudarCor('red')"></div>

    <div @mousemove="coordenadas($event)" class="borda div-comum"></div> -->
   

    <!-- v-on ou @ -->
    
    <!-- <input type="text" @keyup="imprimirTexto('enviando parametro',5)">
    <button @click="mensagemAlerta('texto',100,$event)">Botao</button> -->

    <!-- {{ 2 + 2 }}
    {{ mensagem.substr(0,3) }}
    <input type="text" :value="mensagem" :class="1 == 1 ? 'verde' : estilo">
    <input type="text" :value=" 2+ 2" :class="teste ? 'verde' : estilo"> -->

    <!-- PODE USA O v-bind ou o : (2 pontos) -->
    <!-- <a :href="site">Site</a>
    <p :class="cor" class="negrito">Entendendo a diretiva v-bind</p>
    <input type="text" v-bind:placeholder="preenchimento">
    <input type="text" v-bind:placeholder="preenchimento" v-bind:value="valor">
    <input type="checkbox" v-bind:checked="check">
     -->
    <!-- {{somar()}} <br>
    {{subtrair()}} <br>
    {{multiplicar()}} <br>
    {{dividir()}} <br> -->
    <!-- {{numeroAleatorio()}} -->
<!-- {{mensagem}}
        
<br>
Valor total {{valorTotal}}
<br>
Logado {{logado}}
<br>
Hobbie {{hobbies[0]}}
<br>
Perfil {{perfil.site}}, - {{perfil.cursos[0].nome}} -->
   </div>
  
   <script src="vue.js"></script>
    <script>
   

    const vm = new Vue({
        el:'#app',
        data:{ //atributos reativos
            // mensagem: 'Primeiro template controlado pelo vue', //se colocar o {} duplo no html vai aparecer o conteúdo - dobro mushache (fazendo um binding - siginica amarração ou ligação)
            valorTotal: 150.47,
            logado: false,
            hobbies: [
                'Dormir',
                'Colecionar videos games antigos',
                'Correr',
                'Trilhas'
            ],
            perfil: {
                 nome: 'Davi Gledson',
                site: 'davigledson@outlook.com',
                idade: 21,
                cursos: [
                    {
                        nome:'Laravel',carga: '50 horas',
                        
                    },
                    {
                      nome:'Bancos de Dados relacionais', carga: '40 horas'  
                    }
                ]
            },
               
            
            n1:10,
            n2:5,

            site: 'https://daviddes@outlook.com',   
            cor: 'red',
            preenchimento: 'Placeholder',
            valor: 'Entendo a diretiva V-bind',
            check: true,

            mensagem: "Expressão",
            estilo: 'azul',
            teste: false,
            xyz: true,

            cor:'branco',
            posicaoX:0,
            posicaoY:0,

            msg: '',
            cliques: 0,
            formulario: '',
            teclas:'',

            saldo:457,
            exibirSaldo:true,
            idade:0,
            nota:0,

            exibirTextoAjuda: false
             

                
        },

        methods:{
                    somar: function somar() { //convencional
                        return this.n1 + this.n2;
                    },

                    subtrair: function (){
                        //anonima
                        return this.n1 - this.n2; 
                    },
                    multiplicar: () => {
                        //arrow function - não fazem referencia  para o escopo do objeto
                        
                        return this.n1 *  this.n2; //contexto léxico
                    },
                    dividir() { //forma de definor os pares de chaves/valor
                        return  this.n1 /  this.n2;
                    },
                    numeroAleatorio(){
                        return Math.random()
                    },
                    imprimirTexto(t,n,x){
                        console.log(t)
                        console.log(n)
                        console.log(this.xyz)
                    },
                    mensagemAlerta(p1,p2,evento){
                        console.log(p1,p2,evento)
                    },
                    mudarCor(c){
                       this.cor = c
                    },
                    coordenadas(e){
                        this.posicaoX = e.clientX
                        this.posicaoY = e.clientY
                        //console.log(e.clientX,e.clientY)
                    },
                    prevenirComportamentoPadrao(event){
                        //event.preventDefault();
                        this.msg ='Comportamento padrão ativado'
                    },

                    executarUmaVez(){
                        this.cliques++
                    },
                    prevenirUmaVez(){
                        this.formulario= 'Prevenindo o comportamento padrão '
                    },
                    capturandoTeclas(event){
                        this.teclas += 'Modificadores encadeados com sucesso!' + event.key
                    },
                    selecionarElementoFilho(){
                        // console.log(inputTexto)
                        // console.log(inputTexto.type)
                        // console.log(inputTexto.value)

                        //console.log(opcoes)
                        //console.log(opcoes.value)

                        //console.log(paragrafo)
                        //console.log(paragrafo.style.color)

                        console.log(bloco.innerHTML)
                    },
                    setIdade(){
                       // console.log(inputIdade.value)
                       this.idade = inputIdade.value
                    },
                    setNota(){
                        this.nota = inputNota.value
                        console.log(this.nota)
                    },
                   

                }
    }) // vm = ViewModel
    console.log(vm) 
</script>
</body>

</html>